.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.box_contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.box_elemento {
    align-items: center;
}

.section .box_elemento {
  background: #00ff33;
  height: 80%;
  width: 30%;
}

.side .box_elemento {
  width: 80%;
}

@media (min-width: 900px) {
  .navbar .box_contenedor{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-content: flex-start;
  }
}